<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- Custom Styling -->
    <!-- <link rel="stylesheet" href="css/shared/main.css"> -->
    <link rel="stylesheet" href="/css/user/main.css">
    <link rel="stylesheet" href="/css/user/dashboard.css">
    <link rel="stylesheet" href="/css/user/home.css">

</head>

<body>
    <%- include('../user/partials/dashboard'); %>
        <main>
            <div class="med-form-alert">
                <p>Complete medical details form for better exprerience.</p>
                <a href="#">
                    <?xml version="1.0"?>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="18" height="18" x="0" y="0"
                        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                        <g>
                            <g xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path
                                        d="M488.727,0H302.545c-12.853,0-23.273,10.42-23.273,23.273c0,12.853,10.42,23.273,23.273,23.273h129.997L192.999,286.09    c-9.089,9.089-9.089,23.823,0,32.912c4.543,4.544,10.499,6.816,16.455,6.816c5.956,0,11.913-2.271,16.457-6.817L465.455,79.458    v129.997c0,12.853,10.42,23.273,23.273,23.273c12.853,0,23.273-10.42,23.273-23.273V23.273C512,10.42,501.58,0,488.727,0z"
                                        fill="#333" data-original="#000000" class="" />
                                </g>
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path
                                        d="M395.636,232.727c-12.853,0-23.273,10.42-23.273,23.273v209.455H46.545V139.636H256c12.853,0,23.273-10.42,23.273-23.273    S268.853,93.091,256,93.091H23.273C10.42,93.091,0,103.511,0,116.364v372.364C0,501.58,10.42,512,23.273,512h372.364    c12.853,0,23.273-10.42,23.273-23.273V256C418.909,243.147,408.489,232.727,395.636,232.727z"
                                        fill="#333" data-original="#000000" class="" />
                                </g>
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="basic row my-4">
                <p class="fs-28 bold">Basic Details</p>
                <div class="col-sm-6 row">
                    <div class="col-4">
                        <p>Name :</p>
                    </div>
                    <div class="col-8">
                        <p>
                            <%= user.profile.firstName %>
                                <%= user.profile.lastName %>
                        </p>
                    </div>
                    <div class="col-4">
                        <p>Age :</p>
                    </div>
                    <div class="col-8">
                        <p>
                            <%= user.profile.age %>
                        </p>
                    </div>
                    <div class="col-4">
                        <p>Gender :</p>
                    </div>
                    <div class="col-8">
                        <p>
                            <%= user.profile.gender %>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 row">
                    <div class="col-4">
                        <p>Contact :</p>
                    </div>
                    <div class="col-8">
                        <p>
                            <%= user.profile.mobileNo %>
                        </p>
                    </div>
                    <div class="col-4">
                        <p>Allergies :</p>
                    </div>
                    <div class="col-8">
                        <p>Nothing</p>
                    </div>
                    <div class="col-4">
                        <p>Blood Group :</p>
                    </div>
                    <div class="col-8">
                        <p>A+</p>
                    </div>
                </div>
            </div>
            <!-- If there is/are any current treatments -->
            <div class="current row">
                <p class="fs-28">Current Treatments </p>
                <div class="col-4">
                    <p style="text-align: left;">Disease & Symptoms :</p>
                </div>
                <div class="col-8">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis vitae quasi repellendus
                        nihil
                        voluptatem, at deserunt et natus temporibus illum facilis itaque, provident iste! Eaque
                        officia
                        consequatur sed consequuntur odio.</p>
                </div>
                <div class="col-4">
                    <p>Prescriptions :</p>
                </div>
                <div class="col-8">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis vitae quasi repellendus
                        nihil
                        voluptatem, at deserunt et natus temporibus illum facilis itaque, provident iste! Eaque
                        officia
                        consequatur sed consequuntur odio.</p>
                </div>
                <div class="col-4">
                    <p>Doctor :</p>
                </div>
                <div class="col-8">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis vitae quasi repellendus
                        nihil.
                    </p>
                </div>
            </div>
        </main>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
            </script>
</body>

</html>