<!doctype html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- Custom Styling -->
    <link rel="stylesheet" href="/css/lab/main.css">
    <link rel="stylesheet" href="/css/lab/dashboard.css">
    <link rel="stylesheet" href="/css/lab/aftersearch.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- toolbar -->
    <div class="toolbar">
        <!-- hamburger menu -->
        <div class="toolbar-hamburger">
            <nav role="navigation">
                <div id="hamburger">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>

                    <ul id="menu">
                        <div id="nav-brand">
                            <p class="fs-28 text-center">Digital Health<br>Record Portal</p>
                            <div class="links fs-16">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-share">
                                    <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8">
                                    </path>
                                    <polyline points="16 6 12 2 8 6">
                                    </polyline>
                                    <line x1="12" y1="2" x2="12" y2="15">
                                    </line>
                                </svg>
                                <a href="/lab/dashboard/logout">Logout</a>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-info">
                                    <circle cx="12" cy="12" r="10">
                                    </circle>
                                    <line x1="12" y1="16" x2="12" y2="12">
                                    </line>
                                    <line x1="12" y1="8" x2="12.01" y2="8">
                                    </line>
                                </svg>

                                <a href="#">About</a>
                            </div>
                        </div>
                        <div class="menu-items mt-3">
                            <a href="/lab/dashboard" class="menu-item-single">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-home">
                                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z">
                                    </path>
                                    <polyline points="9 22 9 12 15 12 15 22">
                                    </polyline>
                                </svg>
                                <li>Home</li>
                            </a>
                            <a href="/lab/dashboard/sent" class="menu-item-single">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-edit">
                                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                    </path>
                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                    </path>
                                </svg>

                                <li>Sent Reports</li>
                            </a>
                            <a href="/lab/dashboard/settings" class="menu-item-single">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-settings">
                                    <circle cx="12" cy="12" r="3">
                                    </circle>
                                    <path
                                        d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                                    </path>
                                </svg>
                                <li>Settings</li>
                            </a>
                        </div>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Heading -->
        <div class="toolbar-header">
            <p class="fs-32">Patient's Detail</p>
        </div>
        <!-- Profile -->
        <div class="toolbar-profile">
            <div class="profile-name">
                <p>
                    <%= labName%>
                </p>
            </div>
            <div class="profile-image">
                <?xml version="1.0"?>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="32" height="32" x="0" y="0"
                    viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                    <g>
                        <path xmlns="http://www.w3.org/2000/svg"
                            d="m15 2h-6c-.552 0-1-.448-1-1s.448-1 1-1h6c.552 0 1 .448 1 1s-.448 1-1 1z" fill="#ffffff"
                            data-original="#000000"  class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                            d="m17.419 24h-9.946c-3.127 0-5.324-1.673-5.465-4.164-.055-.973.199-1.913.736-2.717l5.729-8.328c.344-.503.527-1.091.527-1.701v-5.59c0-.552.448-1 1-1s1 .448 1 1v5.59c0 1.017-.305 1.997-.881 2.834l-5.72 8.316c-.286.429-.425.945-.395 1.482.079 1.384 1.44 2.278 3.469 2.278h9.947c1.349 0 2.505-1.021 2.576-2.277.031-.537-.108-1.053-.403-1.494l-5.712-8.305c-.576-.837-.881-1.817-.881-2.834v-5.59c0-.552.448-1 1-1s1 .448 1 1v5.59c0 .61.183 1.198.528 1.7l5.72 8.316c.545.816.799 1.756.744 2.729-.132 2.336-2.141 4.165-4.573 4.165z"
                            fill="#ffffff" data-original="#000000"  class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                            d="m16.846 20h-9.692c-.636 0-1.154-.497-1.154-1.107 0-.239.078-.466.226-.658.013-.017.027-.034.042-.05l2.827-3.686c.134-.174.337-.281.557-.292.181-.009.356-.051.494-.118l.624-.311c.75-.366 1.712-.367 2.457-.003l.636.317c.131.063.306.105.487.115.219.011.423.118.557.292l2.827 3.685c.015.016.029.033.042.05.146.192.224.42.224.659 0 .61-.518 1.107-1.154 1.107z"
                            fill="#ffffff" data-original="#000000"  class="" />
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <!-- toolbar space fix -->
    <div class="toolbar-space"></div>
    <!-- alert for home only -->
    <main>
        <div class="status">
            <span>
                <p id="mess">
                </p>
            </span>
        </div>
        <div class="basic row my-4">
            <div class="heading">
                <span class="fs-28 bold">Basic Detail</span>
            </div>
            <div class="col-sm-6 row">
                <div class="col-4">
                    <p class="bold">Name:</p>
                </div>
                <div class="col-8">
                    <p>
                        <%= patient.profile.firstName %>&nbsp;<%= patient.profile.lastName %>
                    </p>
                </div>
                <div class="col-4">
                    <p class="bold">Blood Group</p>
                </div>
                <div class="col-8">
                    <p>
                        <%= patient.profile.bloodGroup %>
                    </p>
                </div>
                <div class="col-4">
                    <p class="bold">Mobile No:</p>
                </div>
                <div class="col-8">
                    <p>
                        <%= patient.profile.mobileNo %>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 row">
                <div class="col-4">
                    <p class="bold">City:</p>
                </div>
                <div class="col-8">
                    <p>
                        <%= patient.profile.city %>
                    </p>
                </div>
                <div class="col-4">
                    <p class="bold">State:</p>
                </div>
                <div class="col-8">
                    <p>
                        <%= patient.profile.state %>


                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row ">
                <form action="/lab/dashboard/treatment-report" enctype="multipart/form-data" method="post"
                    class="col-sm-6" id="treatmentForm">
                    <div class="leftside row">
                        <div class="leftside-heading">
                            <p class="bold fs-24 mx-auto">Report To a Specific Treatment</p>
                        </div>
                        <div class="row main-left-body">
                            <div class="col-sm-4 mb-3">
                                <p>Date</p>
                            </div>
                            <div class="col-sm-8">
                                <input type="date" class="form-control" id="startDate" name="submitDate">
                            </div>
                            <div class="col-sm-4 mb-3">
                                <p>Title</p>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="What type of test" name="testName">
                            </div>
                            <div class="col-sm-4 mb-3">
                                <p>Treatment No</p>
                            </div>
                            <div class="col-sm-8">
                                <select class="form-select" aria-label="select example" name="treatmentNo">
                                    <option value="None">Select Treatment No</option>
                                    <% patient.currentTreatments.forEach((currTreat)=> { %>
                                        <option value="<%= currTreat.treatmentNo %>">
                                            <%= currTreat.treatmentNo %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                            <div class="col-sm-4 mb-3">
                                <p>Attachment</p>
                            </div>
                            <div class="col-sm-8">
                                <input type="file" class="form-control" aria-label="file example" name="attachment"
                                    id="attachment">
                                <div id="maxSize" class="form-text">Max : 4 MB
                                </div>
                            </div>
                            <div class="col-sm-4 mb-3">
                                <p>Remark</p>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" aria-label="remark" placeholder="If Any"
                                    name="remark">
                            </div>
                            <div class="col-sm-12 saveButton-container">
                                <button id="saveButton" type="submit" class="btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
                <form action="/lab/dashboard/treatment-report" method="post" class="col-sm-6 " id="generalForm"
                    enctype="multipart/form-data">
                    <div class="rightside row">
                        <div class="rightside-heading">
                            <p class="bold fs-24 ">General Report</p>
                        </div>
                        <div class="row main-left-body">
                            <div class="col-sm-4 mb-3">
                                <p>Date</p>
                            </div>
                            <div class="col-sm-8">
                                <input type="date" class="form-control" id="startDate" name="submitDate">
                            </div>
                            <div class="col-sm-4 mb-3">
                                <p>Title</p>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="What type of test" name="testName">
                            </div>
                            <div class="col-sm-4 mb-3">
                                <p>Treatment No</p>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="" id="treatmentNo2" readonly value="None"
                                    name="treatmentNo">
                            </div>
                            <div class="col-sm-4 mb-3">
                                <p>Attachment</p>
                            </div>
                            <div class="col-sm-8">
                                <input type="file" class="form-control" aria-label="file example" name="attachment"
                                    id="attachment2">
                                <div id="maxSize" class="form-text">Max : 4 MB
                                </div>
                            </div>
                            <div class="col-sm-4 mb-3">
                                <p>Remark</p>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" aria-label="remark" placeholder="If Any"
                                    name="remark">
                            </div>
                            <input type="hidden" id="healthID" name="healthID" value="<%= patient.accessID.healthID %>">
                            <div class="col-sm-12 saveButton-container">
                                <button id="saveButton" type="submit" class="btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <div class="backdrop">
        <div class="cssload-box-loading"></div>
    </div>
    <!-- Optional JavaScript -->
    <!-- Bundled Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"> </script>
    <script src="/js/lab/treatmentReportForm.js"></script>
</body>

</html>